
.main-navigation {
    display: flex;
    height: 90px;
    padding: 0 60px;
    background-color: beige;

    .main-navigation-left {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-navigation-right {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .main-navigation-right-header {
            width: 100%;
            display: flex;
            justify-content: end;

            .nav-user-welcome {
                margin-right: 10%;
                font-size: 1.1em;
                font-weight: 500;
                color: rgb(41, 43, 41);
            }

            .nav-user-name {
                margin-left: 0.5rem;
                font-weight: bold;
                color: rgb(58, 125, 187);
            }

            .nav-phone {
                color: gray;
            }
        }

        .main-navigation-right-links {
            width: 100%;
            display: flex;
            justify-content: end;
        }
    }

    .main-nav-link {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 18px;
        margin-left: 20px;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            color: grey;
            transform: scale(1.04);
        }
    }

    .link-active {
        color: grey;
        font-size: 21px;
        border-bottom: 2px solid grey;
    }
}